@model Lecture06.Models.ContactsPlain

@{
    ViewBag.Title = "Контакты";
}

<h2>Контактная информация</h2>

@if (ViewBag.Correct!= null && ViewBag.Correct)
{
    <p>Данные корректны!</p>
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.EditorForModel()
    <input type="submit" value="submit" />
}
        