
@{
    ViewBag.Title = "Домашняя работа";
}

<h2>Домашняя работа</h2>

<h3>Чтение</h3>

<ul>
    <li>Глава 3. Архитектурный шаблон MVC. С раздела "Создание слабо связанных компонентов "</li>
    <li>Глава 6. Инструменты, важные для MVC</li>
    <li>Глава 7. Sports Store: реальное приложение и Глава 8. Sports Store: навигация для примеров тестирования MVC-приложений</li>
</ul>

<h3>Практика</h3>

<ul>
    <li>Перевести приложение на слабо связанные компоненты</li>
    <li>Создать тесты на действия контроллеров (с использованием Mock)</li>
</ul>