@{
    ViewBag.Title = "Home Page";
}

<h2>Демонстрация</h2>

@Html.ActionLink("Нетестируемый контроллер", "Index", "BadComingSoon")
@Html.ActionLink("Тестируемый контроллер", "Index", "TestableComingSoon")