
@{
    ViewBag.Title = "Домашняя работа";
}

<h2>Домашняя работа</h2>

<h3>Чтение</h3>

В книге Фримена довольно сложное начало, но дальше становится легче. Мы в курсе, напротив, двигаемся от простого к сложному. Поэтому порядок нашего курса поначалу не совпадает с главами учебника. Поэтому будет нормально, если вы будете пропускать все, что связано с базами данных, тестированием и dependency injection: это тема следующего нашего занятия.

<ul>
    <li>Глава 1. Основная идея. Обзор разных технологий разработки и их сравнение с ASP.NET MVC для общего развития.</li>
    <li>Глава 2. Ваше первое приложение MVC. По сути повторяет эту лекцию.</li>
    <li>Глава 3. Архитектурный шаблон MVC. До пункта "Применение предметно-ориентированной разработки".</li>
    <li>Глава 4. Важные функциональные возможности языка. То, что нужно знать о языке C# для лучшего понимания курса. Вы можете пропустить это, если вполне уверены в своем знании C#.</li>
</ul>

Эти главы помогут вам с выполнением домашнего задания.

<ul>
    <li>Глава 7. Sports Store: реальное предложение, начиная с "Отображение списка товаров". </li>
    <li>Глава 8. Sports Store: навигация. Только пункт "Добавление элементов управления навигацией".</li>
</ul>

Продвинутые главы:
<ul>
    <li>Глава 13. Маршрутизация URL</li>
    <li>Глава 14. Дополнительные возможности маршрутизации</li>
    <li>Глава 15. Контроллеры и действия</li>
</ul>

<h3>Практика</h3>

<h4>Программа-минимум</h4>
Без ее выполнения невозможно двигаться дальше.
<ul>
    <li>Создать модель для описание одной квартиры: название, город, район, цена, метраж, наличие WiFi, парковки, и вообще все то, что вы бы хотели видеть для съемных квартир.</li>
    <li>Вручную забить несколько квартир в List, по аналогии с тем, как мы описывали книгу</li>
    <li>Создать страницу, где для всех квартир представлены их краткие описания: только название, район, цена, фотография</li>
    <li>Создать страницу с подробным описанием квартиры, где выписаны уже все данные о ней. Обеспечить переход на эту страницу с блока краткого описания</li>

</ul>

<h4>Нормальная программа</h4>
Позволит вам освоить и попробовать все основные техники.
<ul>
    <li>Организовать где-нибудь на любой странице сайта пару кратких блоков "горящего предложения"</li>
    <li>Убедиться, что нигде нет DRY, использовать дочерние действия и частичные представления</li>
    <li>Сделать фильтрацию квартир по районам</li>
    <li>Сделать список районов в виде меню</li>
    <li>Сделать адреса вида /Destricts/Central</li>
</ul>

<h4>Мастер-программа</h4>
Позволит вам отточить мастерство, применив более сложные техники
<ul>
    <li>Сделать paging, выводя на страницу не более 12 квартир</li>
    <li>Обновить адреса, сделать их в виде /Districts/Central/2/</li>
</ul>

