
@{
    ViewBag.Title = "Домашнее задание";
}

<h2>Домашнее задание</h2>

<h3>Чтение</h3>

<ul>
    <li>Глава 8. SportsStore: навигация, с раздела "Построение корзины для покупок"</li>
    <li>Глава 9. SportsStore: завершение построения корзины для покупок</li>
    <li>Глава 10. SportsStore: администрирование</li>
    <li>Глава 22. Привязка моделей</li>
</ul>

<h3>Практика</h3>

<h4>Программа-минимум</h4>

<ul>
    <li>Сделайте кнопку "Заказать" под полным описанием квартиры. Эта кнопка должна вести на ввод данных о себе.</li>
    <li>В данных "О себе" должны быть: город проживания (без списка, просто текстовым вводом), тип путешественника (командировка, романтическое путешествие, и т.д.)</li>
    <li>Сделайте форму, основанную на DDD</li>
    <li>Сделайте кастомный редактор для типа путешественника</li>
</ul>

<h4>Нормальная программа</h4>

<ul>
    <li>Сделайте раздел редактирования данных о квартире на основе DDD. </li>
    <li>Сделайте загрузку фотографий квартиры</li>
</ul>

<h4>Мастер-программа</h4>
<ul>
    <li>Подумайте, как сделать шаблон для всевозможных Enum в вашей программе с помощью рефлексии типов?</li>
    <li>Сделайте справочник городов. Каким образом сделать ссылку на город ForeignKey? Каким образом можно заполнить список городов? Как сделать шаблон для редактирования города?</li>
</ul>