@model string[]
@if (false)
{
    <script src="../../Scripts/jquery-1.5.1-vsdoc.js" type="text/javascript" />
}

Current data:
@foreach(var e in Model)
{
    @e
    @:,&nbsp;
}

@using (Html.BeginForm())
{
    <div id="container">
    @for (int i = 0; i < 10; i++)
    {
        if(i<Model.Length)
        {
             <input type="text" id="strings" name="strings" value="@Model[i]" />
        }
        else
        {
             <input type="text" id="strings" name="strings" value="" />
        }
    }
    </div>
    <input type="submit" value="submit" />
                                  
}