
@{
    ViewBag.Title = "Homework";
}

<h2>Homework</h2>

<ul>
    <li> Сделать клиентскую валидацию по DDD для всего ввода данных</li>
    <li> Сделать кнопку "like" под предложением о квартире в обоих просмотрах - списком и подробно</li>
    <li> Сделать кнопку "favorite" под предложением о квартире в обоих просмотрах - списком и подробно. Сделать вкладку "избранное", где выводились бы только квартиры, занесенные в избранное</li>
    <li> Сделать обсуждение под подробным предложением о квартире</li>
    <li> При бронировании квартиры, сделать выбор города выбором из двухуровневого списка - список регионов (областей, краев, республик) и городов. Выбор страны должен менять список городов. Использовать Json.</li>
    <li> Сделать логин Ajax-ом, в Layout фрагмент страницы, который либо приветствует залогиненного пользователя, либо предлагает ему залогиниться</li>
</ul>