@{
    ViewBag.Title = "Демонстрация";
}

<h2>Демонстрация</h2>

@Html.ActionLink("Серверная валидация", "Server","Validation")<br/>
@Html.ActionLink("Клиентская валидация", "Client", "Validation")<br />