@{
    ViewBag.Title = "Home Page";
}

<h2>Демонстрация</h2>

<br/> @Html.ActionLink("Нетестируемый контроллер", "Index", "BadComingSoon")
<br />@Html.ActionLink("Тестируемый контроллер", "Index", "TestableComingSoon")