@{
    ViewBag.Title = "Home Page";
}

<h2>Демонстрация</h2>

<br /> @Html.ActionLink("Простая форма", "SimpleForm", "Post")
<br /> @Html.ActionLink("Форма, построенная по модели", "ModelForm", "Post")
<br /> @Html.ActionLink("Привязка моделей", "Index", "Binding") 