@model int[]
@{
    ViewBag.Title = "Action7";
}

<h2>Action7</h2>

@using (Html.BeginForm())
{
    @Html.TextBox("array", Model.Select(z => z.ToString()).Aggregate((a, b) => a + " " + b));   
    <input type="submit" value="submit" />
}